{% extends '.\core\base.html' %}
{% block content %}
<div id="main">
    {% if user.is_authenticated %}
        <h1>Your Bookmarks</h1>
        {% if bookmarks %}
            <div class="bookmark-container">
                <table class="bookmark-grid">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Text</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for bookmark in bookmarks %}
                        <tr>
                            <td>{{ bookmark.title }}</td>
                            <td>{{ bookmark.text|truncatechars:100 }}</td>
                            <td><a href="{{ bookmark.link }}" target="_blank">Click to visit webpage</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No bookmarks found.</p>
        {% endif %}
    {% else %}
        <p>You need to <a href="{% url 'login' %}">log in</a> to view your bookmarks.</p>
    {% endif %}
</div>
{% endblock %}
